################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeSheet
/testre
/TaskManager/.vs/TaskManager/v16/.suo
/TaskManager/.vs/TaskManager/v16
/PCCOMM_parsing
/OFKO_Parsing.7z
/GeekAspNet_WebStore
/iliya132
